<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzEihoUy92NbU9qNf8lcPfpSf4dAA7WM0</string>
	<key>GCM_SENDER_ID</key>
	<string>870497548445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iMedCom v3.PatientApp</string>
	<key>PROJECT_ID</key>
	<string>iMedCom v3-patient-app</string>
	<key>STORAGE_BUCKET</key>
	<string>iMedCom v3-patient-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870497548445:ios:743f6cfbf8d0ea74107c74</string>
	<key>DATABASE_URL</key>
	<string>https://iMedCom v3-patient-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>